<%= form_for(@genetic_bank) do |f| %>
<% if @genetic_bank.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@genetic_bank.errors.count, "error") %> prohibited this genetic_bank from being saved:</h2>

    <ul>
        <% @genetic_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
</div>
<div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
</div>
<div class="field">
    <%= f.label :trademark %><br>
    <%= f.text_field :trademark %>
</div>
<div class="field">
    <%= f.label :denomination %><br>
    <%= f.text_field :denomination %>
</div>
<div class="field">
    <%= f.label :year %><br>
    <%= f.select :year, (Time.zone.now.year - 16)..(Time.zone.now.year + 10), {:prompt => "Select"},{:class =>"form-control"} %>
</div>
<div class="field">
    <%= f.label :breeder %><br>
    <%= f.text_field :breeder %>
</div>
<div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"}, {:class => 'form-control'})  %>
</div>
<div class="field">
    <%= f.label :numPlants %><br>
    <%= f.number_field :numPlants %>
</div>
<div class="field">
    <%= f.label :color_id %><br>
    <%= f.collection_select(:color_id,Color.all,:id,:colorName,{:prompt => "Select Color"},{:class => "form-control"})%> 
</div>
<div class="field">
    <%= f.label :scent %><br>
    <%= f.select(:scent, options_for_select([['Not','not'],['Yes','yes']], :selected => f.object.scent), {:prompt => "Select"}, {:class => 'form-control'})  %>
</div>
<div class="field">
    <%= f.label :headSize %><br>
    <%= f.select(:headSize, options_for_select([['2','2'],['2.5','2.5'],['3','3'],['3.5','3.5'],['4','4'],['4.5','4.5'],['5','5'],['5.5','5.5'],['6','6'],['6.5','6.5'],['7','7']], :selected => f.object.headSize), {:prompt => "Select"}, {:class => 'form-control'})  %>
</div>
<div class="field">
    <%= f.label :numPetals %><br>
    <%= f.number_field :numPetals %>
</div>
<div class="field">
    <%= f.label :steamLenght %><br>
    <%= f.text_field :steamLenght %>
</div>
<div class="field">
    <%= f.label :production %><br>
    <%= f.text_field :production %>
</div>
<div class="field">
    <%= f.label :opening %><br>
    <%= f.text_field :opening %>
</div>
<div class="field">
    <%= f.label :abnormality %><br>
    <%= f.text_area :abnormality %>
</div>
<div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
