<h1 class="alert alert-success text-center">Genetic Bank</h1>

<div class="text-center">
    <h3><%= link_to 'New Genetic bank', new_genetic_bank_path %></h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Location</th>
            <th>Trademark</th>
            <th>Denomination</th>
            <th>Image</th>
            <th>Year</th>
            <th>Breeder</th>
            <th>Status</th>
            <th>#Plants</th>
            <th>Scent</th>
            <th>Headsize</th>
            <th>Numpetals</th>
            <th>Color</th>
            <th>Steamlenght</th>
            <th>Production</th>
            <th>Opening</th>
            <th>Abnormality</th>
            <th>Remarks</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>


        <% @genetic_banks.each do |genetic_bank| %>
        <tr>
            <td><%= genetic_bank.code %></td>
            <td><%= genetic_bank.location %></td>
            <td><%= genetic_bank.trademark %></td>
            <td><%= genetic_bank.denomination %></td>
            <td>
                <% @pictures.each do |picture| %>
                    <% if genetic_bank.id == picture.genetic_bank_id %>
                        <div class="image-rose">
                            <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                        </div>
                    <%end%>
                <%end%>
            </td>
            <td><%= genetic_bank.year %></td>
            <td><%= genetic_bank.breeder %></td>
            <td><%= genetic_bank.status %></td>
            <td><%= genetic_bank.numPlants %></td>
            <td><%= genetic_bank.scent %></td>
            <td><%= genetic_bank.headSize %></td>
            <td><%= genetic_bank.numPetals %></td>
            <td><%= genetic_bank.color ? genetic_bank.color.colorName : 'N/A'%></td>
            <td><%= genetic_bank.steamLenght %></td>
            <td><%= genetic_bank.production %></td>
            <td><%= genetic_bank.opening %></td>
            <td><%= genetic_bank.abnormality %></td>
            <td><%= genetic_bank.remarks %></td>
            <td><%= link_to 'Show', genetic_bank %></td>
            <td><%= link_to 'Edit', edit_genetic_bank_path(genetic_bank) %></td>
            <td><%= link_to 'Destroy', genetic_bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

        <% end %>
    </tbody>
</table>


<br>








