<p id="notice"><%= notice %></p>

<p>
    <strong>Code:</strong>
    <%= @genetic_bank.code %>
</p>

<p>
    <strong>Location:</strong>
    <%= @genetic_bank.location %>
</p>

<p>
    <strong>Trademark:</strong>
    <%= @genetic_bank.trademark %>
</p>

<p>
    <strong>Denomination:</strong>
    <%= @genetic_bank.denomination %>
</p>

<p>
    <strong>Year:</strong>
    <%= @genetic_bank.year %>
</p>

<p>
    <strong>Breeder:</strong>
    <%= @genetic_bank.breeder %>
</p>

<p>
    <strong>Status:</strong>
    <%= @genetic_bank.status %>
</p>

<p>
    <strong>Numplants:</strong>
    <%= @genetic_bank.numPlants %>
</p>

<p>
    <strong>Color:</strong>
    <%= @genetic_bank.color ? @genetic_bank.color.colorName : 'N/A' %>
</p>

<p>
    <strong>Scent:</strong>
    <%= @genetic_bank.scent %>
</p>

<p>
    <strong>Headsize:</strong>
    <%= @genetic_bank.headSize %>
</p>

<p>
    <strong>Numpetals:</strong>
    <%= @genetic_bank.numPetals %>
</p>

<p>
    <strong>Steamlenght:</strong>
    <%= @genetic_bank.steamLenght %>
</p>

<p>
    <strong>Production:</strong>
    <%= @genetic_bank.production %>
</p>

<p>
    <strong>Opening:</strong>
    <%= @genetic_bank.opening %>
</p>

<p>
    <strong>Abnormality:</strong>
    <%= @genetic_bank.abnormality %>
</p>

<p>
    <strong>Remarks:</strong>
    <%= @genetic_bank.remarks %>
</p>

<%= link_to 'Edit', edit_genetic_bank_path(@genetic_bank) %> |
<%= link_to 'Back', genetic_banks_path %>
