<p id="notice"><%= notice %></p>

<p>
    <strong>Codecross:</strong>
    <%= @irb_selection.codeCross %>
</p>

<p>
    <strong>Code:</strong>
    <%= @irb_selection.code %>
</p>

<p>
    <strong>Location:</strong>
    <%= @irb_selection.location %>
</p>

<p>
    <strong>Trademark:</strong>
    <%= @irb_selection.trademark %>
</p>

<p>
    <strong>Denomination:</strong>
    <%= @irb_selection.denomination %>
</p>

<p>
    <strong>Year:</strong>
    <%= @irb_selection.year %>
</p>

<p>
    <strong>Status:</strong>
    <%= @irb_selection.status %>
</p>

<p>
    <strong>Numplants:</strong>
    <%= @irb_selection.numPlants %>
</p>

<p>
    <strong>Color:</strong>
    <%= @irb_selection.color ? @irb_selection.color.colorName : 'N/A' %>
</p>

<p>
    <strong>Scent:</strong>
    <%= @irb_selection.scent %>
</p>

<p>
    <strong>Headsize:</strong>
    <%= @irb_selection.headSize %>
</p>

<p>
    <strong>Numpetals:</strong>
    <%= @irb_selection.numPetals %>
</p>

<p>
    <strong>Steamlenght:</strong>
    <%= @irb_selection.steamLenght %>
</p>

<p>
    <strong>Production:</strong>
    <%= @irb_selection.production %>
</p>

<p>
    <strong>Opening:</strong>
    <%= @irb_selection.opening %>
</p>

<p>
    <strong>Abnormality:</strong>
    <%= @irb_selection.abnormality %>
</p>

<p>
    <strong>Remarks:</strong>
    <%= @irb_selection.remarks %>
</p>

<%= link_to 'Edit', edit_irb_selection_path(@irb_selection) %> |
<%= link_to 'Back', irb_selections_path %>
