<p id="notice"><%= notice %></p>

<p>
  <strong>Codecross:</strong>
  <%= @seed.codeCross %>
</p>

<p>
  <strong>Sowdate:</strong>
  <%= @seed.sowDate %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @seed.origin %>
</p>

<p>
  <strong>Numseeds:</strong>
  <%= @seed.numSeeds %>
</p>

<p>
  <strong>Totalweight:</strong>
  <%= @seed.totalWeight %>
</p>

<p>
  <strong>Week:</strong>
  <%= @seed.week %>
</p>

<p>
  <strong>Hydratation:</strong>
  <%= @seed.hydratation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @seed.status %>
</p>

<p>
  <strong>Dateout:</strong>
  <%= @seed.dateOut %>
</p>

<p>
  <strong>Totalgermination:</strong>
  <%= @seed.totalGermination %>
</p>

<p>
  <strong>Percentagegermination:</strong>
  <%= @seed.percentageGermination %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
