<div class="container">
    <div class="row">
        <div class="col-offset-1 col-md-10">
            <%= form_for(@germination,:html=>{:class=>"form-horizontal"}) do |f| %>
            <% if @germination.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@germination.errors.count, "error") %> prohibited this germination from being saved:</h2>

                <ul>
                    <% @germination.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <div class="form-group">
                <%= f.label :seed_id, :class=>"col-md-2" %>
                <div class="col-md-3">
                    <%= f.collection_select(:seed_id,Seed.where(germination: 'yes'),:id,:codeCross_name,{:prompt => "Select"},{:class => "form-control"})%>                    
                </div>
            </div>

            <div class="form-group">
                <%= f.label :week, :class=>"col-md-2" %>
                <div class="col-md-3">
                    <%= f.text_field :week,:class=>"form-control"  %>
                </div>    
            </div>

            <div class="form-group">
                <%= f.label :numGerminations , :class=>"col-md-2"%>
                <div class="col-md-3">
                    <%= f.number_field :numGerminations,:class=>"form-control"  %>
                </div>    
            </div>

            <div class="actions">
                <%= f.submit %>
            </div>
            <% end %>
        </div>
    </div>
</div>
