

<h1 class="alert alert-success text-center">Germinations</h1>

<div class="text-center">
    <h3><%= link_to 'New Germination', new_germination_path %></h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>CodeCross</th>
            <th>Week</th>
            <th>Numgerminations</th>
            <th>codeCrossName</th>
            <th>CodeCrossNumRepeat</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @germinations.each do |germination| %>
        <tr>
            <td><%= germination.seed.crossing.codeCross %>-<%= germination.seed.crossing.numRepeat%></td>
            <td><%= germination.week %></td>
            <td><%= germination.numGerminations %></td>
            <td><%= germination.codeCross %></td>
            <td><%= germination.codeCrossNumRepeat %></td>
            <td><%= link_to 'Show', germination %></td>
            <td><%= link_to 'Edit', edit_germination_path(germination) %></td>
            <td><%= link_to 'Destroy', germination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<!--
<h4>Total CodeCrossNumRepeat = <% sumaCodeCrossNumRepeat %></h4>
<h4>Total CodeCross = <%sumaCodeCross %></h4>
-->

<h2 class="alert alert-info">Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>CodeCross</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <% sumaCodeCross.each do |item| %>
        <tr>
            <td><%= item[0] %></td>
            <td><%= item[1] %></td>
        </tr>
        <% end %>
    </tbody>


</table>

<table class="table">
    <thead>
        <tr>
            <th>CodeCrossNumRepeat</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <% sumaCodeCrossNumRepeat.each do |item| %>
        <tr>
            <td><%= item[0] %></td>
            <td><%= item[1] %></td>
        </tr>
        <% end %>
    </tbody>


</table>
<br>

